<h3><%= current_user.username %>'s  Favorites</h3>

<% @favorites.each do |favorite| %>
  <% gif = favorite.gif %>
  <div class="images">
    <div class = "gif-title">
      <%= gif.category.name.capitalize %>
    </div>
    <img src="<%= gif.url %>"/>
    <%= button_to "Unfavorite", favorite_path(favorite), method: "delete" %>
  </div>
<% end %>
