<h2>Gifs</h2>

<% @gifs.each do |gif| %>
  <div class="images">
    <div class = "gif-title">
      <%= gif.category.name.capitalize %>
    </div>
    <img src="<%= gif.url %>"/>
    <%= button_to "Add to Favorites", favorites_path(gif_id: gif.id) %>
  </div>
<% end %>
